body {
    background-color: white;
    text-align: center;
}

#container {
    width: 700px;
    margin: auto;
    position: relative;
}

#colours{
    display: flex;
    /* list-style-type: none; */
    /* overflow: hidden; */

    margin: auto;
    width: 600px;
}

#colours > div{
    width: 40px;
    height: 40px;
    border: solid white;
    cursor: pointer;
}

#wrapper {
    margin: auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
}

#wrapper > div {
    padding: 1em;
    border: 1px solid black;
    cursor: pointer;
}


#colours div.selected_colour {
    border-width: 3px;
    border-color: black;
}

#colours div:not(.selected_colour) {
    border-width: 1px;
}

#colours div:not(.selected_colour):hover {
    border-color: black;
    border-width: 3px;
}

select {
    background-color: rgb(238, 236, 236);
}

button {
    border: 2px solid darkgrey;
    height: 40px;
    margin: 0px 5px;
    background-color: rgb(238, 236, 236);
    border-radius: 5px;
}

#example {
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid black;
}

.white {background-color: rgb(255, 255, 255);}
.red {background-color: rgb(255, 0, 0);}
.green {background-color: rgb(0, 255, 0);}
.blue {background-color: rgb(0, 0, 255);}
.yellow {background-color: rgb(255, 255, 0);}
.purple {background-color: rgb(125, 0, 125);}
.orange {background-color: rgb(255, 165, 0);}
.light_blue {background-color: rgb(0, 191, 255);}
.dirty_pink {background-color: rgb(189, 39, 134);}
.navy {background-color: rgb(15, 30, 120);}
.ugly_yellow {background-color: rgb(100, 100, 0);}
.brown {background-color: rgb(210, 105, 30);}
.pink {background-color: rgb(255, 105, 180);}


#cp {
    text-align: center;
    font-size: 10px;
}

#cp > a {
    color: black;
    text-decoration: none;
}

#cp > a:hover {
    color: blue;
    text-decoration: underline;
}